<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/style/normalize.css">
    <link rel="stylesheet" href="../public/style/reset.css">
    <link rel="stylesheet" href="../public/style/style.css">

    <title>victorambrozi.dev</title>
</head>

<body>
    <div class="container">
        <img src="../public/assets/images/foto-perfil.jpg" alt="Avatar Perfil">

        <h1>João Victor Ambrozi</h1>
        <p>Desenvolvedor Frontend | Estudante</p>

        <p>Acompanhe meus estudos!!</p>

        <div class="container__content">
            <div class="content">
                <ul class="content-logos">
                    <li>
                        <a href="https://github.com/victorambrozi" target="_blank">
                            <img src="assets/images/logo/linkedin.svg" alt="Logo GitHub">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/victorambrozi.dev/" target="_blank">
                            <img src="assets/images/logo/instagram.svg" alt="Logo Instagram">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/victorambrozi/" target="_blank">
                            <img src="assets/images/logo/linkedin.svg" alt="Logo Linkedin">
                        </a>
                    </li>
                </ul>

                <p>Vídeo que me inspiro!👇🏼</p>

                <div class="content__info">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/oUPaJxk6TZ0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>

                    <ul class="content__links">
                        <li>
                            <a href="https://www.notion.so/Desafio-2-CSS-5818c4d1bcb44b1688abb97329084172"
                                target="_blank">
                                ⭐️ Desafio de CSS
                            </a>
                        </li>

                        <li>
                            <a href="" target="_blank">
                                💻 Meu Setup
                            </a>
                        </li>

                        <li>
                            <a href="git@github.com:victorambrozi/my-linktree.git" target="_blank">
                                Código fonte da página
                            </a>
                        </li>

                        <li>
                            <a href="" target="_blank">
                                Contato
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- content-info -->
            </div>
            <!-- content -->
        </div>
        <!-- container__content -->
    </div>
    <!-- container -->
</body>

</html>