<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../public/style/normalize.css">
    <link rel="stylesheet" href="../public/style/reset.css">
    <link rel="stylesheet" href="../public/style/style.css">

    <title>victorambrozi.dev</title>
</head>

<body>
    <div class="container">
        <img src="../public/assets/images/foto-perfil.jpg" alt="Avatar Perfil">

        <h1>João Victor Ambrozi</h1>
        <p>Desenvolvedor Frontend | Estudante</p>

        <p>Acompanhe meus estudos!!</p>

        <div class="container__content">
                <ul class="content-logos">
                    <li>
                        <a href="https://github.com/victorambrozi" target="_blank">
                            <img src="../public/assets/logo/github.svg" alt="Logo GitHub">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/victorambrozi.dev/" target="_blank">
                            <img src="../public/assets/logo/instagram.svg" alt="Logo Instagram">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/victorambrozi/" target="_blank">
                            <img src="../public/assets/logo/linkedin.svg" alt="Logo Linkedin">
                        </a>
                    </li>
                </ul>
            
                       
            <div class="content">

                <!-- hidden information -->
                <div class=" hide-content secondary-content__info">
                    <h3 class="return"><i class="material-icons">west</i>Meu Setup<h3>
                            <ul class="content__links-secondary" class="setup">
                                <li>
                                    <a href="https://www.notion.so/Desafio-2-CSS-5818c4d1bcb44b1688abb97329084172"
                                        target="_blank">
                                        Monitor LG 22MK400H-B 21,5” LED
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.kabum.com.br/produto/78336/monitor-acer-led-21-5-widescreen-full-hd-hdmi-vga-dvi-v226hql?gclid=CjwKCAiAhbeCBhBcEiwAkv2cY4aMVoIjfCzl8Z2pujcW9Hp5yi4sOihyWoRvYMXmHH7IoUF5lys8_BoCzA8QAvD_BwE"
                                        target="_blank">
                                        Monitor Acer LED 21.5" V226HQL
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.kabum.com.br/produto/152294/teclado-mec-nico-gamer-t-dagger-bora-com-ilumina-o-rgb-personaliz-vel-t-tgk315-rd"
                                        target="_blank">
                                        Teclado Mecânico T-Dagger Bora
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.kabum.com.br/cgi-local/site/produtos/descricao_ofertas.cgi?codigo=98696"
                                        target="_blank">
                                        Mouse HyperX Pulsefire Core - HX-MC004B
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.intel.com.br/content/www/br/pt/products/processors/core/i3-processors/i3-8100.html"
                                        target="_blank">
                                        Processador Intel® Core™ i3-8100
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.kabum.com.br/cgi-local/site/produtos/descricao_ofertas.cgi?codigo=85197&gclid=CjwKCAiAhbeCBhBcEiwAkv2cY9FuJGAr5xmVaK6Wi20CoVa_rlCl7kmaqcmAyacwCxmDGKWWQySmKxoCPKMQAvD_BwE"
                                        target="_blank">
                                        SSD Kingston 240GB
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.kabum.com.br/produto/103412/placa-m-e-gigabyte-b365m-gaming-hd-intel-lga-1151-matx-ddr4"
                                        target="_blank">
                                        Placa-Mãe Gigabyte B365M
                                    </a>
                                </li>
                            </ul>

                </div>
                <!-- secondary-content__info -->

                <div class="content__info">

                    <p>Vídeo que me inspiro!👇🏼</p>

                    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/oUPaJxk6TZ0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>

                    <ul class="content__links">
                        <li>
                            <a href="https://www.notion.so/Desafio-2-CSS-5818c4d1bcb44b1688abb97329084172"
                                target="_blank">
                                ⭐️ Desafio de CSS
                            </a>
                        </li>

                        <li id="button-setup">
                            💻 Meu Setup
                        </li>
                        
                        <li id="button-contact">
                            Contato
                        </li>

                        <li>
                            <a href="https://github.com/victorambrozi/my-linktree" target="_blank">
                                Código fonte da página
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- content-info -->
            </div>
            <!-- content -->
        </div>
        <!-- container__content -->
    </div>
    <!-- container -->

    <script src="../public/scripts/return-page.js"></script>
</body>

</html>